/* Main elements */
body {
  font-family: Arial, sans-serif;
}

#form {
  max-width: 900px;
}

fieldset {
  margin: 0.25em;
}

.radio-text {
  margin-left: 0.2em;
}

.text {
  margin-top: 0.2em;
}

.text input {
  width: 50%;
}

.text-short input {
  width: 25%;
}

.text-tiny input {
  width: 3em;
}

.text-tiny input.banuser-size {
  width: 6.5em;
}

.text-tiny input.bandate-size {
  width: 8em;
}

#build {
  margin: 0.4em;
}

.info {
  font-size: 0.8em;
}

#ban-options-rule,
#shield-options-rule,
#custom-css,
#template,
#output {
  width: 85%;
  font-size: 0.85em;
}

#output {
  max-width: 800px;
}

/* Options grid style */
.options-grid {
  display: grid;
  grid-template-areas:
    "basic activity"
    "other activity";
}

@media only screen and (max-width: 643px) {
  .options-grid {
    display: grid;
    grid-template-areas:
      "basic"
      "activity"
      "other";
  }
}

.options-grid .basic {
  grid-area: basic;
}

.options-grid .activity {
  grid-area: activity;
}

.options-grid .other {
  grid-area: other;
}

/* Basic utility classes */
.hidden {
  display: none;
}

#error {
  text-align: center;
  color: #b01;
}

.error-secondary {
  font-size: 0.6em;
}

#output {
  font-family: 'Droid Sans Mono', 'DejaVu Sans Mono', monospace;
  margin: 0.25em;
}