/* Main elements */
body {
  font-family: Arial, sans-serif;
}

fieldset {
  margin: 0.2em;
}

.radio-text {
  margin-left: 0.2em;
}

.text {
  margin-top: 0.2em;
}

.text input {
  width: 50%;
}

.text-short input {
  width: 25%;
}

#build {
  margin: 0.4em;
}

.info {
  font-size: 0.8em;
}

/* Basic utility classes */

#error {
  text-align: center;
  color: #b01;
}

.error-secondary {
  font-size: 0.6em;
}

#output {
  font-family: 'Droid Sans Mono', 'DejaVu Sans Mono', monospace;
  margin: 0.25em;
}

.unit{
    display: inline-block;
    margin:5px;
}


.hidden {
  display: none;
}

.unit{
    float: left;
    margin-right: 7px;
}
.unit-value{
    font-family: "Courier New","Ubuntu Mono",monospace;
    font-size: 30px;
    background: #aaa;
    color:#000;
    font-weight: 200;
    border-radius: 3px;
}
.unit-label{
    font-size: 16px;
    font-family: "Microsoft Yahei UI","PingFang SC","宋体",sans-serif;
    font-weight: 300;
}
h2.title{
    text-align: center;
    font-family: "Microsoft Yahei UI","PingFang SC","宋体",sans-serif;
    font-weight: 400;
}
#clock{
    background: #eee;
    border-radius: 10px;
}
