/* Main elements */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

fieldset {
  margin: 0.2em;
}

.radio-text {
  margin-left: 0.2em;
}

.text {
  margin-top: 0.2em;
}

.text input {
  width: 50%;
}

.text-short input {
  width: 25%;
}

#build {
  margin: 0.4em;
}

.info {
  font-size: 0.8em;
}

/* Basic utility classes */

#error {
  text-align: center;
  color: #b01;
}

.error-secondary {
  font-size: 0.6em;
}

#output {
  font-family: 'Droid Sans Mono', 'DejaVu Sans Mono', monospace;
  margin: 0.25em;
}

.unit{
    display: inline-block;
    margin:7px;
}


.hidden {
  display: none;
}

.unit-value{
    font-family: "Courier New","Ubuntu Mono",monospace;
    font-size: 25px;
    background: #d2d2d2;
    color: #000;
    font-weight: 200;
    border-radius: 3px;
}
.unit-label{
    font-size: 14px;
    font-family: "Microsoft Yahei UI","PingFang SC","宋体",sans-serif;
    font-weight: 300;
}
h2.title{
    font-family: "Microsoft Yahei UI","PingFang SC","宋体",sans-serif;
    font-weight: 400;
    margin-block-start: 0.3em!important;
    margin-block-end: 0.3em!important;
    font-size: 1.20em;
}
#timer{
    background: #eee;
    border-radius: 10px;
    padding-bottom: 10px;
}
#clock{
    background: #fff;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 12px;
}
